/*++++++++++++++++++++++++++ WATSSAPPPPP+++++++++++++++++++++++++++++++++ */
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0); }
}

.whatsapp-icon {
    position: fixed; /* Fija la posición del icono */
    bottom: 35px; /* Distancia desde la parte inferior de la pantalla */
    right: 70px; /* Distancia desde el borde derecho de la pantalla */
    z-index: 1000; /* Asegura que el icono esté por encima del contenido */
    animation: bounce 2s infinite; /* Aplica la animación de rebote */
}

.whatsapp-icon img {
    width: 60px; /* Ajusta el tamaño del icono */
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Transición suave para opacidad, sombra y transformación */
    border-radius: 50%;
}

.whatsapp-icon img:hover {
    opacity: 0.8; /* Cambia la opacidad al pasar el cursor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra al icono */
    animation: none; /* Detiene la animación de rebote al pasar el cursor */
    transform: scale(1.5); /* Aumenta la escala del icono al pasar el cursor */
}

@media screen and (max-width: 768px) {
    .whatsapp {
            display: block; /* Muestra el botón de WhatsApp en pantallas móviles */
            bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla */
        }
    .whatsapp-icon img {
        width: 70px; /* Ajusta el tamaño del icono para pantallas más pequeñas */
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++PIE DE PAGINA++++++++++++++++++++++++++++++++++++++++++++++++*/
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content:center
}

.footer-content {
    display: flex;
    flex-direction: column; /* Alineado vertical */
    flex-wrap: wrap; /* Envolver elementos a medida que el espacio lo permita */
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
.footer-content ul {
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 16px;
    color: black;
    line-height: 1.2; /* Ajusta el interlineado de letras */
}

.footer-content ol li{
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 16px;
    color: black;
    line-height: 1.5; /* Ajusta el interlineado */
}
.footer-content ol li a{
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 16px;
    color: rgb(1, 8, 152);
}

.contactosredes {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribuye uniformemente los elementos a lo largo del ancho */
    margin-bottom: 0px; /* Espacio entre contactosredes y creditos */ 
}
.contactosredes > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Distribuye uniformemente los elementos a lo largo del ancho */
    margin: 1px; /* Espacio entre elementos de contactosredes */
}

.contactosredes .footer-column {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20PX;
}

.creditos {
    margin-top: 2px; /* Espacio entre contactosredes y creditos */
}

/* Media query para pantallas pequeñas */
/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .footer {
        padding: 1px; /* Ajusta el relleno para que se vea mejor en dispositivos móviles */
    }

    .footer-content {
        margin: 0; /* Elimina el margen lateral */
        padding: 0; /* Elimina el relleno */
        display: flex; /* Asegura que el contenedor .footer-content sea un flex container */
        flex-direction: column; /* Alinea los elementos en columna en dispositivos móviles */
        align-items: center; /* Alinea los elementos al centro */
    }

    .footer-content ul {
        
        padding: 0; /* Elimina el relleno predeterminado de la lista */
        text-align: center; /* Centra el texto dentro de la lista */
    }

    
    .contactosredes {
        flex-direction: column; /* Cambia la dirección a columna en dispositivos móviles */
        align-items: center; /* Alinea los elementos al centro */
        margin-bottom: 3px; /* Incrementa el espacio entre elementos en dispositivos móviles */
    }

    .contactosredes .footer-column h3 {
        text-align: left; /* Ajusta el alineado del texto del título h3 */
        font-size: 15px; /* Ajusta el tamaño del texto del título h3 */
        text-decoration: underline; /* Subrayado en el título h3 */
    }

    .footer-column  ol {
        text-align: left; /* Ajusta el alineado del texto dentro de la lista ul */
        font-size: 15px; /* Ajusta el tamaño del texto dentro de la lista ul */
        color: #fff; /* Cambia el color del texto dentro de la lista ul a blanco */
    }
    .footer-column  ol li a{
        text-align: left; /* Ajusta el alineado del texto dentro de la lista ul */
        font-size: 15px; /* Ajusta el tamaño del texto dentro de la lista ul */
        color: #097fd9; /* Cambia el color del texto dentro de la lista ul a blanco */
        line-height: 1.4; /* Ajusta el interlineado */
    }

    .creditos {
        margin-top: 0px; /* Incrementa el espacio entre contactosredes y creditos */
    }
}